/* roboto-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin_latin-ext-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    font-family: "Roboto", Arial, sans-serif;
    margin: 0px;
}

main{
    font-family: "Roboto", Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-family: "Roboto";
    text-align: center;
}

.navigationBar ul{
    list-style-type: none;
    background-color: dimgrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navigationBar li{
    float: left;
}

.navigationBar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navigationBar a:hover{
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

footer{
    border-top: 2px solid hsl(0, 0%, 24%);
    margin-left: 20px;
    margin-right: 20px;
}

#links{
    margin: 20px;
    flex-direction: row;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
}