/* roboto-regular*/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-v30-latin_latin-ext-regular.woff2') format('woff2');
}

body{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin: 0px;
    display: flex; flex-direction: column;
    min-height: 100vh;
    background-color: hsl(0, 0%, 9%);
}

h1{
    font-family: "Roboto" Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

.navigationBar ul{
    list-style-type: none;
    background-color: dimgrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.navigationBar li{
    display:list-item;
    margin: 0 10px;
}

.navigationBar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navigationBar a:hover{
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
}

main{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    color: white;

    display: flex;
    justify-content: center;
    flex: 1;

}

footer{
    border-top: 2px solid hsl(0, 0%, 24%);
    margin-left: 20px;
    margin-right: 20px;
}

.links {
    margin: 40px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.icon {
    margin: 1%;
}

.text {
    margin: auto;

}

.centered-image {

    max-width: 70vw;
    object-fit: contain;
}

